apiVersion: apps/v1
kind: Deployment
metadata:
  name: kennedy-yolo-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: yolo-backend
  template:
    metadata:
      labels:
        app: yolo-backend
    spec:
      containers:
      - name: backend
        image: kipanch/yolo-backend:v1.0.3
        ports:
        - containerPort: 5000
        env:
        - name: MONGODB_URI
          value: "mongodb://app-mongo:27017/yolomy"
---
apiVersion: v1
kind: Service
metadata:
  name: kennedy-yolo-backend
spec:
  selector:
    app: yolo-backend
  ports:
  - port: 5000
    targetPort: 5000
