gcp_project_id       = "{{ gcp_project_id }}"
gcp_region          = "{{ gcp_region }}"
gcp_zone            = "{{ gcp_zone }}"
server_name         = "{{ server_name }}"
machine_type        = "e2-medium"
ssh_user            = "{{ ssh_user }}"
ssh_public_key_path = "{{ ssh_public_key_path }}"
environment         = "{{ deployment_environment }}"
frontend_port       = {{ frontend_port }}
backend_port        = {{ backend_port }}